/* || General styles */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 32px;
    padding-top: 8px;
}
/* || Typography */
html {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif ,'Times New Roman', Times, serif;
}

/* || Header and Main Navigation */

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    max-height: 100vh;
}
/* || Aside */
aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;

    background-color: rgb(65, 146, 238);
    color: whitesmoke;
    text-decoration: none;
}
.navigation, .settings {
    margin-left: 32px;
    margin-top: 32px;
}
.navigation li a, .settings li a{
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 600;
    
}

header {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid: 1fr 1.5fr / 3fr 2fr;
    justify-content: center;
}

.searchbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 8px;
    margin-left: 32px;
}

.submit {
    margin: 8px;
    border: none;
    border-radius: 25%;
    background: none;
}
#searchbar {
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 25px;
    max-width: 512px;
}

.top-right-info{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    max-width: 256px;
}

.top-right-info > button {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
}
.small-profile-img {
    border-radius: 100px;
    background-color: rgb(220, 0, 0);
}

main {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: rgb(235, 234, 234);
}

.projects-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 64px 1fr;
    grid-auto-flow: row;
}

.project-card {
    
}

.span-two-columns {
    grid-column: span 2;
}

.announcments {
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-rows: 64px 1fr;
}

.announcment-container {
    display: grid;
    grid-auto-columns: 1fr 1fr;
}

.trending {
    display: grid;
    grid-template-rows: 64px 1fr;
}
